main{
    text-align: center;
    margin-top: 5%;
    border: 3px dashed greenyellow;
    background-color: beige;
}
body{
    background-color: aliceblue
}

#minimum, #maximum {
    margin: 0.5%;
    width: 5em;
    height:2em;
}


#result{
    width: 60%;
    height: 50px;
    line-height: 50px;
    /**border-radius: 50%; 
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;**/
    text-align: center;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto 40px;
    background-color:black;
  }
 

#generate, #batchGenerate {
    margin:1%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#generate:hover {
    background-color: rgba(255, 0, 0, 1);
}

#generate:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#file1 {
    margin: 1%;
    line-height: 1.5;
    text-align: center;
    
}

#file2 {
    line-height: 1.5;
    text-align:center;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgba(104, 180, 114, 0.377)
}

a:visited {
    color:black;
}